body {
    background-color: #222;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 0;
}
#coder {
    width: 25%;
    height: 83vh;
}
#output {
    width: 75%;
    height: 83vh;
}

textarea{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 2rem,1rem;
    justify-content: space-between;
}
h4 {
    flex-direction: column;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left:.1rem ;
}


@media only screen 
   and (max-width : 768px) {
   .container {
       flex-direction: column;
   }
   #coder {
    width: 100%;
}
#output {
    width: 100%;

}
}